:root {
    --color-background:#F3F3F3;
    --color-background-nav:#00cc00;
    --color-background-home:#e6ffe6;
    --color-text-light:#EDEDED;
    --color-text-title:#FF5555;
    --color-text-dark:#3D3D3D;
  }
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  html,
  body {
    background-color: #F3F3F3;
  }

  a {
    text-decoration: none ;
    transition: 0.2s opacity;
  }

  a:hover {
    opacity: 0.7;
  }

  .container {
    width: 90%;
  }

  main {
    width: 100%;
    height: calc(100vh - 120vh);
    display: flex;
  }

  p {
    padding: 10px;
  }

  article{
    margin-bottom: 40px;
  }
  